
.left_bar .eventPhotoBlog,
.modal-body .eventPhotoBlog {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.left_bar figure,
.modal-body figure {
    position: relative;
    margin-bottom: 0;
}
.left_bar figure .vote,
.modal-body .vote {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}
.left_bar figure .vote button,
.modal-body figure .vote button {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    outline: none;
}
.left_bar figure .vote img,
.modal-body figure .vote img {
    width: 30px;
    border-radius: 50%;
}
.left_bar figure .vote img:hover
.modal-body figure .vote img:hover {
    background: #e30a17;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.left_bar figure .vote button.active img
.modal-body figure .vote button.active img {
    background: #e30a17;
    border-radius: 50%;
}
.left_bar .eventPhotoBlog .photoDesp ,
.modal-body .eventPhotoBlog .photoDesp {
    padding: 5px 10px;
}

.right_bar .next_event .next_event1,
.left_bar .eventBlog {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.modal-dialog {
    max-width: 80%;
}


.event_create_form .event_image_div .btn_upload,
.event_edit_form .event_image_div .btn_upload {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    color: #fff;
    background-color: #2a72d4;
    border: 1px solid #166b8a;
    padding: 5px 10px;
  }
  
  .event_create_form .event_image_div .btn_upload:hover,
  .event_create_form .event_image_div .btn_upload:focus,
  .event_edit_form .event_image_div .btn_upload:hover,
  .event_edit_form .event_image_div .btn_upload:focus {
    background-color: #7ca9e6;
  }
  
  .event_create_form .event_image_div,
  .event_edit_form .event_image_div {
    display: flex;
    align-items: flex-start;
    margin-top: 10px !important;
  }
  
  .event_create_form .event_image_div .btn_upload input,
  .event_edit_form .event_image_div .btn_upload input {
    cursor: pointer;
    height: 100%;
    position: absolute;
    filter: alpha(opacity=1);
    -moz-opacity: 0;
    opacity: 0;
  }
  
  .event_create_form .event_image_div .it,
  .event_edit_form .event_image_div .it {
    height: 100px;
    margin-left: 10px;
  }
  
  .event_create_form .event_image_div .btn-rmv1,
  .event_edit_form .event_image_div .btn-rmv1{
    display: none;
  }
  
  .event_create_form .event_image_div .rmv
  .event_edit_form .event_image_div .rmv {
    cursor: pointer;
    color: #fff;
    border-radius: 30px;
    border: 1px solid #fff;
    display: inline-block;
    background: rgba(255, 0, 0, 1);
    margin: -5px -10px;
  }
  
  .event_create_form .event_image_div .rmv:hover,
  .event_edit_form .event_image_div .rmv:hover {
    background: rgba(255, 0, 0, 0.5);
  }

  .event_index_table img,
  .event_edit_form .preview1 {
    width: 150px;
  }